

<div class="container-fluid containerWrapper">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 colWrapper-1" >
            <h5 class="text-uppercase">Welcome to Notes</h5>
    
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 colWrapper-2" >
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Please Login</h4>
                    <form [formGroup]="loginForm" name="loginForm" (ngSubmit)="onSubmit()" >
                        <i class="fa-solid fa-user"></i>
                    
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                         </div>
                         <input formControlName="userName" name="userName" type="text" class="form-control"
                          id="inputEmail4" placeholder="UserName"   required  
                         [ngClass]="{ 'is-invalid': submitted && f?.['userName']?.errors }" />
                         <div *ngIf="submitted && f?.['userName'].errors" class="invalid-feedback">
                             <div *ngIf="f?.['userName']?.errors?.['required']">UserName is required</div>
                         </div>
                        </div> <!-- form-group// -->
                    
                    
                   
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input formControlName="password" name="password" type="password" class="form-control" 
                        id="password" placeholder="Password" required [autocomplete]="false" data-testid="login-password"
                        [ngClass]="{ 'is-invalid': submitted && f?.['password'].errors }" />
                                        <div *ngIf="submitted && f?.['password'].errors" class="invalid-feedback">
                                            <div *ngIf="f?.['password'].errors?.['required']">Password is required</div>
                                            
                                        </div>
                    </div> <!-- form-group// --> 
                                                      
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" data-testid="login-submit"> Log In  </button>
                    </div> <!-- form-group// -->      
                </form>
                <a routerLink="/register" class="btn btn-link">Register</a>
            
                </article>
                </div> 
        </div>
    </div>
</div>

